<div class="nosotros-container">
  <section class="banner-img">
    <img src="assets/ba3.png" alt="Banner Acerca de Nosotros" />
  </section>

  <section class="quienes-somos">
    <h2>¿Quiénes Somos ?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
  </section>

  <section class="mision-vision-valores">
    <div class="bloque">
      <h3>Misión</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
    <div class="bloque">
      <h3>Visión</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
    <div class="bloque">
      <h3>Valores</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
  </section>

  <section class="equipo-trabajo">
    <h3>Equipo de trabajo</h3>
    <img src="assets/ba2.png" alt="Equipo de trabajo" />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
  </section>
</div>

