<div class="taller-info-container">
  <img [src]="imagen" alt="imagen taller" class="taller-banner-img" />

  <h2 class="titulo">{{ titulo }}</h2>

  <div class="contenido">
    <div class="proposito">
      <div class="subtitulo">PROPÓSITO</div>
      <p>{{ descripcion }}</p>
    </div>

    <div class="instructor-info">
      <div class="subtitulo rosa">INSTRUCTOR</div>
      <p><strong>Nombre:</strong> {{ instructor }}</p>
      <p><strong>Profesión:</strong> {{ profesion }}</p>
      <div class="foto-instructor"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaXMJVEewy-Bxi4HynIKSdF3s2aDLNe5rSlw&s" alt="Foto-instructor"></div> <!-- Puedes poner imagen aquí si quieres -->
    </div>
  </div>

  <div class="horario-section">
    <div class="subtitulo">HORARIOS</div>
    <table class="horario">
      <tr>
        <th *ngFor="let dia of horarios[0]">{{ dia }}</th>
      </tr>
      <tr>
        <td *ngFor="let hora of horarios[1]">{{ hora }}</td>
      </tr>
    </table>
  </div>
</div>
