/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.footer-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  background-color: #303E2D !important;
  color: white !important;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}
body, html {
  margin: 0;
  padding: 0;
}

router-outlet + * {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
body, html {
  font-family: 'Montserrat', sans-serif;
}



